@import "../../styles/styles.css";

.metadb-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 8px;
}

.metadb-block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 8px 16px;
    background: var(--background-100);
}

.metadb-table-name {
    color: var(--secondary-800);
}