@import "../../styles/styles.css";


.result-container h2 {
    margin: 8px 0;
    color: var(--text-700);
}

.result-container {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 720px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    background: var(--background-100);
}

.result-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
    padding: 8px 0;
    font-size: 18px;
    color: white;
    background: var(--primary);
    border: none;
    border-radius: 8px;
}

.result-message.fail {
    background: #ca3f49;
}