@import "styles.css";

header {
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    border-bottom: 2px solid var(--text-100);
    background: var(--background);
    z-index: 20;
}

.navbar {
    width: 100%;
    height: 64px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links li {
    margin: 0 8px;
    height: 40px;
}


.nav-i {
    font-size: 18px;
    margin: 0 1px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 2px solid var(--background);
    border-radius: 8px;
    padding: 0 8px;
    font-size: 18px;
    cursor: pointer;
    color: var(--text);
    background: var(--background);
    text-decoration: none;
}

.nav-btn:hover {
    color: var(--primary-600);
    border: 2px solid var(--primary-600);
    transition: 0.2s ease-out;
}

.nav-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--inactive-50);
    border-radius: 8px;
    padding: 2px 2px;
    font-size: 18px;
    cursor: pointer;
    color: var(--text);
    background: var(--background);
}

.nav-icon-btn:hover {
    border: 2px solid var(--primary-600);
    transition: 0.2s ease-out;
}

.nav-icon-btn i {
    font-size: 24px;
    color: var(--inactive);
    margin: 0 1px;
}

.nav-icon-btn:hover i {
    color: var(--primary-600);
    transition: 0.2s ease-out;
}


.nav-url {
    text-decoration: none;
    color: var(--text);
}

.nav-url:hover {
    color: var(--primary);
    transition: 0.2s ease-out;
}

.search-fulltext {
    width: 500px;
    height: 40px;
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
}

.search-dropdown{
    width: 400px;
    display: flex;
    position: relative;
    margin: 0 8px;
    align-items: center;
}

.search-box {
    display: block;
    width: inherit;
    position: relative;
}

.search-box input {
    position: relative;
    width: 100%;
    display: flex;
    padding: 8px 32px 8px 16px;
    font-size: 16px;
    border: 2px solid var(--inactive-50);
    border-radius: 4px;
    outline: none;
}

.search-box input:focus {
    border: 2px solid var(--primary-600);
    transition: 0.2s ease-out;
}

.search-box button {
    position: absolute;
    top: 50%;
    right: 10px;
    background: white;
    transform: translateY(-50%);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box button i {
    font-size: 24px;
    color: rgba(0,0,0,.3);
}

.search-box button i:hover {
    color: var(--primary);
}

.search-dropdown-menu {
    visibility: hidden;
    width: 100%;
    height: auto;
    max-height: 400px;
    display: flex;
    background-color: gray;
    flex-direction: column;
    position: absolute;
    overflow-y: scroll;
    border: 2px solid var(--inactive-50);
    border-radius: 4px;
    background: var(--background);
    top: 40px;
    left: 0;
    margin: 0;
}

.search-dropdown-item {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
}

.search-dropdown-item.active {
    background: var(--gray-focus);
}

.search-dropdown-item:hover {
    color: var(--text)
}

.search-dropdown-item:hover {
    background: var(--gray-focus-50);
}

.search-dropdown-item-detail {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 6px 12px;
}

.search-dropdown-item-detail h4 {
    color: var(--text);
}

.search-dropdown-item-detail p {
    display: flex;
    margin: 2px;
    font-size: 14px;
}

.search-dropdown-item-detail p span {
    font-size: 14px;
    margin: 0 4px;
}

.search-dropdown-item-detail h4 {
    margin: 4px;
}

#logout-btn {
    margin: 0 8px;
    color: var(--text);
    background: var(--primary);
    border: none;
}

#logout-btn:hover {
    border: none;
    background: var(--primary-400)
}

.nav-span {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-size: 18px;
}